{
  "env": {
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:mocha/recommended",
    "plugin:security/recommended-legacy"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "mocha"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "warn",
    "no-console": "error"
  }
}
